* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  background: #fafafa;
}

main {
  margin: 3.2rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
  img {
    max-width: 90rem;
    border-radius: 0.8rem;
  }
}

@media (max-width: 980px) {
  main {
    img {
      max-width: 90dvw;
    }
  }
}
